/* for  normal elements */
	@import url(http://fonts.googleapis.com/css?family=Raleway:200,500,700,800);

.login-popup{
	background: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 12;
	width: 100%;
	height: 100vh;
	display: none;
}

.login-container {
	position: relative;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	background: #213;
	top: 20%;
	width: 80%;
	max-width: 750px;
	transition: he 1s ease;
}

.content {
	font-size: 150%;
	padding: 3em 0;
}

.content p {
	margin: 1em 0;
	padding: 5em 0 0 0;
	font-size: 0.65em;
}
.content h1{
	color: transparent;
}

.login-close{
	width: 40px;
	height: 40px;
	display: inline-block;
	position: absolute;
	right: 0%;
	cursor: pointer;
	z-index: 12;
	background: url(../img/close.png) no-repeat;
	background-size: contain;
}

/* For log in section */
.login {
    background-color: #f9f7f6;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.login a.to_register {
    background-color: #f9f7f6;
	color: #000000;
    font-size: 26px;
}
.login a.to_register:hover {
	text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
	color: BLACK;
}
.login a.to_next {
    background-color: #f9f7f6;
	color: #000000;
    font-size: 20px;
	padding-right: 20px;
}
.login a.to_next:hover {
	text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
	color: BLACK;
}
.error_message{
	color: RED;
	font-size: 60%;
}
#input-forgot {
	display: inline-block;
	margin: 0.6em;
	vertical-align: top;
	border-radius: 3px;
    box-shadow: 0px 1px 3px #888888;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#input-forgot .input-submit {
	background-color: #009688;
	border: none;
	color: white;
	padding: 1em;
	text-align: center;
	cursor: pointer;
	font-size: 100%;
}
#input-forgot .input-login {
	background-color: #FFFFFF;
	border: none;
	color: #009688;
	padding: 1em;
	text-align: center;
}

#input-submit{
	cursor:pointer;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 450px;
	width: calc(100% - 2em);
	vertical-align: top;
	border-radius: 3px;
    box-shadow: 0px 1px 3px #888888;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.6em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-size: 75.25%;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none;/* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #FFF;
	font-weight: bold;
	font-size: 65.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}
/* Kaede */
.input--kaede {
	display: block;
	overflow: hidden;
	margin: 0.5em auto 0em;
	background: #009688;
}

.toggle-button { background-color: white; margin: 5px 0; border-radius: 20px; border: 2px solid #D0D0D0; height: 24px; cursor: pointer; width: 50px; position: relative; display: inline-block; user-select: none; -webkit-user-select: none; -ms-user-select: none; -moz-user-select: none; }
.toggle-button button { cursor: pointer; outline: 0; display:block; position: absolute; left: 0; top: 0; border-radius: 100%; width: 30px; height: 30px; background-color: white; float: left; margin: -3px 0 0 -3px; border: 2px solid #D0D0D0; transition: left 0.3s; }
.toggle-button-selected { background-color: #83B152; border: 2px solid #7DA652; }
.toggle-button-selected button { left: 26px; top: 0; margin: 0; border: none; width: 24px; height: 24px; box-shadow: 0 0 4px rgba(0,0,0,0.1); }

.css_sized_container .x-toggle-slide-container {
            width: 250px;
        }

        .custom-color label.x-toggle-slide-label-on {
			background: #83B264;
			color: #F9FBF7;
			text-shadow: 0px 0px 2px #346817;
		}

		.custom-color label.x-toggle-slide-label-off {
			background: #C56333;
			color: #7F1F06;
			text-shadow: 1px 0px 1px #DD9A78;
			text-shadow: 1px 1px -1px #D7875F;
			text-align: right;
		}



.input__field--kaede {
	position: absolute;
	top: 0;
	right: 100%;
	width: 60%;
	height: 100%;
	background: #fff;
	color: #009688;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__label--kaede {
	z-index: 10;
	display: block;
	width: 100%;
	height: 100%;
	text-align: left;
	cursor: text;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}



.input__label-content--kaede {
	padding: 1.0em 0;
}

.input__field--kaede:focus,
.input--filled .input__field--kaede {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition-delay: 0.06s;
	transition-delay: 0.06s;
}

.input__field--kaede:focus + .input__label--kaede,
.input--filled .input__label--kaede  {
	-webkit-transform: translate3d(60%, 0, 0);
	transform: translate3d(60%, 0, 0);
	!pointer-events: none;
}

@media screen and (max-width: 34em) {
	.input__field--kaede:focus + .input__label--kaede,
	.input--filled .input__label--kaede  {
		-webkit-transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1);
		transform: translate3d(65%, 0, 0) scale3d(0.65, 0.65, 1);
		padding: 0em;
		!pointer-events: none;
	}
}

@media screen and (max-width: 24em) {
	#input-forgot {
		font-size: 50.25%;;
	}
}

#on-correct{
	color: #54A954;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1;
	border: 2px solid;
	font-size: 250%;
	padding: 25% 0px 0px 0px;
}

#on-sent{
	display: none;
	color: #54A954;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 1;
	border: 2px solid;
	font-size: 200%;
	padding: 19% 20%;
}


#login-form{
}

#forgot-form{
	 display: none;

}